<article>
<br>

    <h2>Uppgiften</h2>
    <p id="about">

        Denna webbplats är en del av lösningen av projektuppgiften för kursen DT191G - Webbutveckling med .NET som ges
        av Mittuniversitetet i Sundsvall. Kursen är en del av webbutvecklingsprogrammet.

        <br>
        <br>

        I uppgiften skall en webbapplikation skapas vilken baseras på .NET. Applikationen skall vara databasdriven.

        <br>
        <br>
        Min lösning är att skapa ett administrationsgränssnitt med hjälp av .NET och dess Entity Framework. Till detta
        skapas en SQLite-databas. Administrationsgränssnitt har till uppgift att lägga till- och hantera bilar för en
        fiktiv bilhandlare. Bilarna som hanteras i administrationsgränssnittet sparas i databasen. Data kan sedan hämtas
        och konsumeras via ett API.
        <br>
        <br>
        Det är denna webbplats som konsumerar APIet och presenterar datan till användaren. <br><br> Denna webbplats är skapad i ramverket Angular version 17.
    <br><br>
    // Anders Sundin <br>
    olsu2201&#64;student.miun.se
    </p>

    <br>
    <a routerLink="/" class="read-more-btn">Tillbaka till förstasidan</a>
</article>