<img src="../../assets/vbh.webp" alt="">
<div id="menu-container" (click)="toggleMobileNavigation()">
    <span id="bar1" class="bar"></span>
    <span id="bar2" class="bar"></span>
    <span id="bar3" class="bar"></span>
</div>
<nav id="mobile-navigation" [ngClass]="{'show': isMobileNavigationVisible}">
    <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Startsida</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Om oss</a></li>
    </ul>
</nav>