img {
    display: block;
    width: 300px;
    margin: auto;
}

#menu-container {
    width: 50px;
    height: 50px;
    margin-bottom: -5px;
    position: relative;

    .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin: 9px auto;
        background-color: rgb(86, 86, 86);
        border-radius: 3px;
    }
}

nav {
    background-color: #f57915;
    width: 100%;
  
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
  
      li {
        list-style: none;
        margin: 10px 0;
  
        a {
          text-decoration: none;
          color: white;
          padding: 10px; /* Lägg till valfritt avstånd från kanten för bättre utseende */
  
          &.active {
            background-color: #c5610f;
          }
        }
      }
    }
  }

#mobile-navigation.show {
    display: block;
    width: 100%;
  

}

#mobile-navigation:not(.show) {
    display: none;
}

// För större skärmar
@media (min-width: 600px) {

    #menu-container {
        display: none;

        .bar {
            display: block;
            width: 30px;
            height: 4px;
            margin: 9px auto;
            background-color: rgb(86, 86, 86);
            border-radius: 3px;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 0;

        ul {
            flex-direction: row;


            padding: 0;

            li {
                list-style: none;
                margin: 10px 20px;
            }
        }

    }

    #mobile-navigation:not(.show) {
        display: flex;
        box-shadow: none;
    }

    #mobile-navigation.show {
        display: flex;

        box-shadow: none;

    }
}