<section id="search-section">
    <form>
        <label for="textSearch">Sök: </label>
        <input type="text" name="search" id="textSearch" placeholder="ex V60" #search (keyup)="searchCar(search.value)">
    </form>
</section>

<section id="hero">
<h1>Vårt mål är din bästa bilaffär!</h1>
</section>


<section id="car-ads-wrapper">
    @for (car of allCars; track car.id){
    <article>
        <img src="{{car.imageUrl}}" alt="Bild på en lagerbil av typen {{car.makeModel.makeOfModel}} {{car.model}}">
        <h2>{{car.makeModel.makeOfModel}} {{car.model}}</h2>
        <p>Pris: {{ car.price | currency: 'SEK ' : 'symbol':'0.0-2' }}</p>
        <p>Årsmodell: {{ car.year}}</p>
        <p>Miltal: {{car.milage | number}}</p>
        <p>Drivmedel: {{car.fuel}}</p>
        <p>Växellåda: {{car.gearbox}}</p>
        <br>
        <a routerLink="/details/{{car.id}}" class="read-more-btn">Läs mer</a>
    </article>
}
</section>
    