<section id="search-section">
    <form>
        <label for="search">Sök: </label>
        <input type="text" name="search" id="textSearch" placeholder="ex V60">

        <select name="make" id="make">
            <option value="0">Alla</option>
            <option value="1">Volvo</option>
            <option value="2">Fiat</option>
        </select>
    </form>
</section>

<section id="hero">
<h1>Vårt mål är din bästa bilaffär!</h1>
</section>


<section id="car-ads-wrapper">
    @for (car of allCars; track car.id){
    <article>
        <img src="{{car.imageUrl}}" alt="">
        <h3>{{car.makeModel.makeOfModel}} {{car.model}}</h3>
        <p>Pris: {{ car.price | currency: 'SEK ' : 'symbol':'0.0-2' }}</p>
        <p>Årsmodell: {{ car.year}}</p>
        <p>Miltal: {{car.milage | number}}</p>
        <a routerLink="/details/{{car.id}}">Läs mer</a>
    </article>
}
    