#search-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;


    label {
        align-self: flex-end;
        height: 100%;
        font-size: 1.4rem;
    }

    input,
    select {
        height: 1.7rem;
    }


}


#car-ads-wrapper {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

  
    article {
        text-align: center;
        margin: 20px;
        padding-bottom: 20px;
        border-radius: 4px;
        box-shadow: 2px 2px 5px grey;
        overflow: hidden;

        img {
            display: block;
            width: 80%;
            padding-top: 10px;
            margin: auto;
        }
    
        
    }


}


#hero {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-image: url('../../assets/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    #car-ads-wrapper {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}