<section id="search-section">
    <form>
        <label for="search">Sök: </label>
        <input type="text" name="search" id="textSearch" placeholder="ex V60">

        <select name="make" id="make">
            <option value="0">Alla</option>
            <option value="1">Volvo</option>
            <option value="2">Fiat</option>
        </select>
    </form>
</section>

<section id="car-ads-wrapper">
    <article>
        <img src="../../assets/test.jpg" alt="">
        <h3>V60CC</h3>
        <p>AWD, Skinnstolar mm..</p>
        <button>Läs mer</button>
    </article>
    <article>
        <img src="../../assets/test.jpg" alt="">
        <h3>V60CC</h3>
        <p>AWD, Skinnstolar mm..</p>
        <button>Läs mer</button>
    </article>
</section>